@font-face {
  font-family: fredoka-one;
  src: url(../../assets/fonts/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: varela-round;
  src: url(../../assets/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: creepster;
  src: url(../../assets/fonts/Creepster-Regular.ttf);
}
