//colors
$blue: #3f84e5;
$pale-violet: #f0e2e7;
$cherry-red: #b20d30;
$mustard: #c17817;
$green: #3f784c;
$charcoal: #33312e;
$border-color: #e3e3e3;

//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//fonts
$font-body: helvetica, arial, sans-serif;
