@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: #ffeca9;

  &__content-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mQ($breakpoint-tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;
      max-width: 63.75rem;
      margin: 0 auto;
    }
  }

  &__logo-link {
    text-decoration: none;
    // width: 9.375rem;
    text-align: center;
  }

  &__logo-outline {
    border: 3px solid $cherry-red;
    outline: 3px solid $green;
    padding: 0.3rem;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__logo-container {
    border: 3px solid $mustard;
    outline: 3px solid $blue;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
  }

  &__logo {
    color: $cherry-red;
    font-family: creepster;
    font-size: 1.125rem;
    // margin: 0.25rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #ffe381;

    @include mQ($breakpoint-tablet) {
      width: auto;
      background-color: transparent;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $cherry-red;
    font-family: creepster;
    font-size: 0.875rem;

    &:last-of-type {
      padding-left: 3rem;
    }

    @include mQ($breakpoint-tablet) {
      font-size: 1rem;
    }
  }
}
