@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.create {
  padding: 0 1rem;

  &__title {
  }

  &__label {
  }

  &__input {
  }

  &__machine {
    display: flex;
    justify-content: center;
  }
  &__machine-parts-section {
  }

  &__machine-buttons {
    display: flex;
    flex-direction: column;
  }

  &__machine-button {
  }

  &__create-button {
  }
}
