@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.create {
  padding: 0 1rem;

  &__title {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0 1rem;
    font-family: creepster;
  }

  &__container {
    max-width: 320px;
    margin: 0 auto;
  }

  &__name-container {
    margin: 0 auto;
  }

  &__label {
    color: $charcoal;
    font-size: 0.613rem;
    margin-right: 0.5rem;
    font-weight: bold;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    font-size: 0.813rem;
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 0;
    border: solid 1px $border-color;
    border-radius: 4px;
    width: 100%;
  }

  &__machine {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  &__machine-parts-section {
    margin-right: 1rem;
  }

  &__aside-container {
    display: flex;
    flex-direction: column;
  }

  &__machine-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__machine-button {
    margin-bottom: 1rem;
    @include button;
  }

  &__create-button {
    @include button;
  }
}
