@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.create {
  padding: 0 1rem;

  &__title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0 1rem;
  }

  &__name-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__label {
    background-color: $pale-violet;
    color: $charcoal;
    padding: 0.25rem;
    font-size: 0.875rem;
    margin-right: 0.5rem;
  }

  &__input {
    font-size: 0.813rem;
    flex-grow: 1;
    padding-left: 1rem;
    border-radius: 0;
    border: solid 1px $charcoal;
  }

  &__machine {
    display: flex;
    justify-content: center;
  }
  &__machine-parts-section {
    border: solid 1px $charcoal;
    margin: 1rem 1rem 0.5rem 0;
  }

  &__machine-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__machine-button {
    border: none;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 0.875rem;
    background-color: $pale-violet;
  }

  &__create-button {
    border: none;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 0.875rem;
    background-color: $pale-violet;
  }
}
